*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/****** GENERALI ******/
body{
  font-family: 'Open Sans', sans-serif;
}


.container{
  width: 60%;
  margin: auto;
}

.btn{
  padding: 6px 13px;
  border-radius: 30px;
}

/****** HEADER ******/
header{
  background-color: #0084FD;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 500;
}

header img{
  transform: scale(0.75);
}

header .container{
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header li{
  display: inline-block;
  margin-left: 20px;
}

header a{
  text-decoration: none;
  color: #fff;
  font-size: 12px;
}

#menu-mobile{
  display: none;
}

.white{ 
  color: #000;
  background-color: #fff;
}

/****** CARD SECTION TOP ******/
#card-space{
  margin-top: 100px;
  margin-bottom: 60px;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 15px;
}

.card{
  background-color: #B5DDFF;
  width: calc(100% / 3 - 10px);
  border-radius: 20px;
  font-weight: 700;
  /* debug */
  min-height: 250px;
}

.card.big{
  width: calc( (100% / 3 - 2px) * 2);
  display: flex;
  padding: 20px 20px 0;
}

#card-descr{
  width: 60%;
  padding-bottom: 30px;
}

#card-descr h2{
  color: #0084fd;
  font-size: 17px;
  margin-bottom: 20px;
}

#card-descr p{
  color: #5a6e7f;
  font-size: 12px;
  line-height: 1.8;
  margin-bottom: 20px;
}

.btn.blue{
  text-decoration: none;
  background-color: #0084fd;
  color: #fff;
  font-size: 11px;
  letter-spacing: 3px;
  padding: 8px 25px;
}

#img-big{
  display: flex;
}

.card img{
  width: 200px;
  align-self: flex-end;
}

/********* 3 card *********/
.card.top{
  text-align: center;
  padding: 15px;
}

.card.top h2{
  color: #0084fd;
  font-size: 17px;
  margin-bottom: 20px;
}

.card.top p{
  color: #5a6e7f;
  font-size: 11px;
  line-height: 1.8;
}

.card.top i{
  color: #0084fd;
  font-size: 55px;
  margin-bottom: 20px;
}

/****** APP DEVELOPMENT VIOLET ******/
.violet{
  background-color: #9792E4;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 50px;
}

#wrapper{
  width: 50%;
  margin: auto;
}

#card-wrap{
  display: flex;
  justify-content: space-between;
}

.wrap-img{
  background-color: #fff;
  width: 45%;
  border-radius: 30px;
  /* debug */
  min-height: 400px;
}

/****** TESTIMONIALS ******/
.testimonials{
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 50px;
}

.test-card{
  background-color: #9792E4;
  width: 100%;
  border-radius: 30px;
  margin-bottom: 20px;
  /* debug */
  height: 150px;
}

/****** BENEFIT ******/
.card.benefit {
  background-color: #fff;
  min-height: 300px;
}

/****** ABOUT US ******/
.about{
  display: flex;
  padding-top: 60px;
  padding-bottom: 50px;
}

.about-descr{
  width: 70%;
  /* debug */
  min-height: 400px;
  background-color: #60b5ff;
}

.about-img{
  width: 30%;
   /* debug */
   min-height: 400px;
   background-color: #8ecaff;
}

/****** FOOTER ******/
.ftr-wrap{
  display: flex;
  width: 40%;
  margin: auto;
  min-height: 300px;
  padding-top: 30px;
  padding-bottom: 30px;
  /* debug */
  background-color: #fff;
}

/****** FOOTER BOTTOM ******/
.black{
  background-color: #333333;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.ftr-wrap.dark{
  min-height: 150px;
}

/*********** RESPONSIVE ************/
  /******* TABLET *******/
@media screen and (max-width:768px) {
  #menu-mobile{
    display: block;
    color: #fff;
    font-size: 30px;
  }

  #menu-desktop{
    display: none;
  }

  #wrapper, .container{
    width: 90%;
  }

  #card-descr{
    width: 100%;
  }

  #card-descr p {
    font-size: 14px;
  }
  
  .btn.blue, .card.top p{
    font-size: 15px;
  }

  #card-descr h2, .card.top h2{
    font-size: 20px;
  }

  .card.big{
    flex-direction: column;
  }

  #card-wrap{
    display: block;
    width: 100%;
  }

  .wrap-img{
    width: 100%;
    margin-bottom: 20px;
  }

  .card.benefit{
    width: calc(100% / 2 - 10px);
  }

  .ftr-wrap{
    width: 60%;
  }
  }

  /********** SMARTPHONE **********/
  @media screen and (max-width:480px) {
    #menu-mobile{
      display: block;
      color: #fff;
      font-size: 30px;
    }
  
    #menu-desktop{
      display: none;
    }
    
    .cards{
      display: block;
    }

    .card, .card.big{
      width: 100%;
      margin-bottom: 20px;
    }

    .container{
      width: 90%;
    }
  
    #wrapper{
      width: 90%;
    }
  
    #card-wrap{
      display: block;
      width: 100%;
    }
  
    .wrap-img{
      width: 100%;
      margin-bottom: 20px;
    }
  
    .card.benefit{
      width: 90%;
      margin: auto;
      margin-bottom: 20px;
    }
  
    .about{
      display: block;
    }

    .about-descr, .about-img{
      width: 100%;
      margin-bottom: 20px;
    }

    .ftr-wrap{
      width: 80%;
    }
  }